@model CodeVoyage.Models.Reservation
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>

<html>

<meta name="viewport" content="width=device-width" />


<body>

    <h2> Merci pour votre réservation </h2>
    <h3> Vous recevrez un mail de confirmation sous 48h</h3>
   
        <a href=@("/OffreVoyage/RechercheOffre/")>Retour</a>
       


    



</body>
</html>
