@model CodeVoyage.Models.Reservation
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutMembre";
}
@section content{

    <h2> Merci pour votre réservation </h2>
    <h3> Vous recevrez un mail de confirmation sous 48h</h3>

    <button type="submit" class="btn btn-secondary"><a href=@("/OffreVoyage/RechercheOffre/") class="text-decoration-none link-light">Retour</a></button>
       

}
