@model CodeVoyage.Models.OffreVoyage
@{
    ViewBag.Title = "Catalogue";
    Layout = "_LayoutDuSite";
}

<!--==============Places===================-->
<section class="places">
    <div class="places-text">
        <small>OFFRES CODE VOYAGE</small>
        <h2>Nos Offres de séjour</h2>
    </div>
    <div class="cards">
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/Images/Culture/DIFF1.jpg" alt="DIFF">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Durban international film festival</h2>
                <p class="cost">570€ / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Paris - Durban</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/Images/Culture/Fes.png" alt="Fes" />
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Fes musique sacrée du monde</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Paris - Fes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/Images/Culture/SFantiqueshow.png" alt="SF Antique">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The San Francisco Fall Show</h2>
                <p class="cost">470€ / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Monaco, Monaco</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/Images/Culture/TulipIstanbul1.jpg" alt="TulipIstanbul">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The Dark Forest Adventure</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Bern, Switzerland</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293673/korea_bxrcj5.jpg">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The Dark Forest Adventure</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Seoul, South Korea</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293673/night-4336403_1920_demehp.jpg">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The Dark Forest Adventure</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Tokyo, japan</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/Images/Festival/caribana2.jpg" alt="Caribana">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Caribana festival</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Tokyo, japan</p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293673/night-4336403_1920_demehp.jpg">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The Dark Forest Adventure</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Tokyo, japan</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293673/night-4336403_1920_demehp.jpg">
                </div>
            </div>
            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>The Dark Forest Adventure</h2>
                <p class="cost">$1870 / Per Person</p>
                <div class="card-box">
                    <p class="time">🕓 3 Days</p>
                    <p class="location">✈️ Tokyo, japan</p>
                </div>
            </div>
        </div>
    </div>




</section>