@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Apropos";
    Layout = "_LayoutDuSite";
}

@section content {
<div class="about-section">
    <h1>A PROPOS</h1>
    <p> L'agence CodeVoyage est une agence d'organisation de voyages autour de l'événementiel, son but est de répondre à la demande d'une clientèle spécifique 
        en permettant un accès facilité et personnalisé à des événements à travers le monde.</p>
    <p>Nos clients peuvent choisir un voyage clé en main ou créer le voyage sur mesure à partir des services propsés dans le catalogue.
        Un voyage est composé d'un ensemble de services qui incluent :</p>
        <ul>
            <li class="footerUl">des hébergements (hôtels,Airbnb,salles pour événements),les moyens de transport (le train/avion/bus)</li>
            <li class ="footerUl">des accompagnateurs,des guides locaux,des Véhicules( voitures,cars,deux-roues)</li>
            <li class="footerUl"> des activités(ateliers,visites),des restaurants</li>
        </ul>
    
</div>

<h2 style="Presentation de léquipe :center">Our Team</h2>
<div class="columm">
    <div class="card">
        
               <img src="~/Images/Avatar/AvatarFanta.jpg" alt="Fanta" style="width:100%">
               
            <div class="text">
                <h2>Fanta</h2>
                <p class="title"> Directrice CodeVoyage</p>
                <p> Pionniere du voyage évenementiels,elle organise et accompagne des circuits à travers le monde.</p>
                <p> 3 mois par trimestre sur le terrain pour vérifier la qualité des prestations,accompagner et découvrir de nouveaux itineraires</p>
                <p>Email:fantaD@hotmail.com</p>
                <p>Tel: +33 04 20 64 80 10</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
                <img src="~/Images/Avatar/AvatarDavid.jpg" alt="David" style="width:100%">
            <div class="container">
                <h2>David</h2>
                <p class="title">Administrateur et responsable technique de l'agence</p>
                <p>Il s'occupe de tout le perimètre technique de l'agence</p>
                <p>Email:DavidA@hotmail.com</p>
                <p>Tel: +33 04 20 64 10 10</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
                <<img src="~/Images/Avatar/AvatarMagda.jpg" alt="Magda" style="width:90%">
            <div class="container">
                <h2>Magdaline</h2>
                <p class="title">Responsable recherche et developpement</p>
                <p> elle est en charge de nouveaux services et  technologie </p>
                <p>Email:MagdaF@hotmail.com</p>
                <p>Tel: +33 04 20 64 09 18 </p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Avatar/AvatarChris.jpg" alt="Chris" style="width:100%">
                <div class="container">
                    <h2>Christophe</h2>
                    <p class="title">Responsable recherche et developpement</p>
                    <p> Il assure le pilotage technique, financier et fonctionnel de nos services et technologie </p>
                    <p>Email:ChrisT@hotmail.com</p>
                    <p>Tel: +33 04 20 64 00 00 </p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>


    <div class="column">
        <div class="card">
                <img src="~/Images/Avatar/AvatarMarie.jpg" alt="Marie" style="width:100%">
            <div class="container">
                <h2>Marie</h2>
                <p class="title">Directrice operationnelle</p>
                <p>Elle accompagne le développement des voyages,s'assure du bon fonctionnement de l'agence </p>
                <p>MarieC@hotmail.com</p>
                    <p>Tel: +33 04 20 64 02 10 </p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
}