@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Apropos";
    Layout = "_LayoutDuSite";
}

@section content {
<div class="about-section">
    <h1>A PROPOS</h1>
    <p class="text-lg-start"> L'agence CodeVoyage est une agence d'organisation de voyages autour de l'événementiel, son but est de répondre à la demande d'une clientèle spécifique 
        en permettant un accès facilité et personnalisé à des événements à travers le monde. Nos clients peuvent choisir un voyage clé en main ou créer le voyage sur mesure à partir des services proposés dans le catalogue.
        Un voyage est composé d'un ensemble de services qui incluent :
        <ul>
                <li>des hébergements (hôtels, Airbnb, salles pour événements),</li>
                <li>des moyens de transport (le train, avion, bus),</li>
                <li>des accompagnateurs,des guides locaux,des véhicules sur place(voitures, cars, deux-roues),</li>
                <li>des activités(ateliers, visites),</li>
                <li>des restaurants.</li>
        </ul>
       
        </p>
    
</div>

    @*<h2 style="Presentation:center">Notre équipe</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Fanta</h2>
                <p class="title">Directrice CodeVoyage</p>
                    <p>
                        Pionniere du voyage évenementiels,elle organise et accompagne des circuits à travers le monde.Comment faire à la ligne en HTML ?
                        <br>3 mois par trimestre sur le terrain pour vérifier la qualité des prestations,accompagner et découvrir de nouveaux itineraires
                    </p>
                <p>fanta@codevoyage.com</p>
                    <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    </div>*@
}