@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Accueil";
    Layout = "_LayoutDuSite";
}

<header>

    <div class="search-bar">
        <input type="text" placeholder="Rechercher un événement">
        <button type="submit">Rechercher</button>
    </div>
</header>
<body>
       <div class="scroll-container">
        <div class="container">
            <img src="~/Images/Sport-Portugal-Rugby.jpg" alt="Portugal Rugby">
            @* <a href="https://localhost:5001/OffreVoyage/AfficherToutesLesOffresVoyages" />*@
            <img src="~/Images/paris-olympics-2024.jpg" alt="Paris 2024" />
            @* <div class="centered">Paris 2024</div>*@
            <img src="~/Images/carnaval rio.jpg" alt="Carnaval de Rio">
            <img src="~/Images/holi festival 1.jpg" alt="Holi festival">
        </div>
        
    </div>
</body>