@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Accueil";
    Layout = "_LayoutDuSite";
}

<header>

    <div class="search-bar">
        <input type="text" placeholder="Rechercher un événement">
        <button type="submit">Rechercher</button>
    </div>
</header>
<body>
       <div class="scroll-container">
        <div class="container">
            <a href="https://localhost:5001/OffreVoyage/AfficherToutesLesOffresVoyages" />
            <img src="~/Images/Culture/DIFF1.jpg" alt="DIFF">
            <img src="~/Images/Culture/Fes.png" alt="Fes" />
            <img src="~/Images/Culture/SFantiqueshow.png" alt="SF Antique">
            <img src="~/Images/Culture/TulipIstanbul1.jpg" alt="TulipIstanbul">
        </div>
        
    </div>

     <div class="scroll-container">
        <div class="container">
            <a href="https://localhost:5001/OffreVoyage/AfficherToutesLesOffresVoyages" />
            <img src="~/Images/Festival/caribana2.jpg" alt="Portugal Rugby">
            <img src="~/Images/Festival/CarnavalVenise2.jpg" alt="Venise" />
            <img src="~/Images/Festival/Dubai1.jpg" alt="Dubai">
            <img src="~/Images/Festival/Lantern1.jpg" alt="Lantern">
            <img src="~/Images/Festival/Tomorrowland1.jpg" alt="Tomorrowland">
        </div>
        
    </div>

    <div class="scroll-container">
        <div class="container">
            <a href="https://localhost:5001/OffreVoyage/AfficherToutesLesOffresVoyages" />
            <img src="~/Images/Sport/paris-olympics-2024.jpg" alt="Paris2024">
            <img src="~/Images/Sport/CAN.jpg" alt="CAN">
            <img src="~/Images/Sport/GrandPrix2.jpg" alt="GrandPrix">
            <img src="~/Images/Sport/Sport-Portugal-Rugby.jpg" alt="Rugby">
        </div>

    </div>
</body>