#header, #menu, #contenu, #footer {
    padding: 0;margin:0;
    font-family: 'Roboto', sans-serif;
    border:none;
    outline:none;
    text-transform:capitalize;
}
 }
#header {
    background: ghostwhite 
}

#menuLogo {
    background: ghostwhite;
    margin-left: 10px;
}
 

#main {
    margin: auto;
}

/*#menu {
  font-size:65%;
  overflow-x:hidden;
}
 section{
     padding:5rem 10%;
 }


/* mise en forme de l'entete' 
#header{

    position:sticky;
    top:0;left:0;right:0;
    z-index:1000!important;
    background:white;
    display:fex;
    justify-content:space-between;
    align-items:center;
    padding-top:2rem;
    padding-bottom:2rem;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
        
}
.header.Menu{
    z-index:1000;

}

.header.Menu a{
    font-size:2rem;
    margin-left:2rem;
    
}
/*changer la couleur de l'ecritrure menu
.header.Menu a:hover {
    color:sandybrown;
    
}

#menu-btn{
    font-size:2.5rem;
    cursor:pointer;
    color:black;
    display:none;
}
/*pour rentre responsive


 
 @media (max-width:1200px) {
    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
}



.services.box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(16rem,1fr));
    gap:1.5rem;

}
*/

/*const menubtn = document.querySelector('#menu-btn');
	const menu = document.querySelector('header.Memu');
	menubtn.addEventListener('click', () =>{
		Menu.classList.toToggle('active');
	}
	*/
/*pour qu'il soit au même ligne que le logo
.header.Menu {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: white;
    padding: 2rem;
    border-top: var(--border);
    /*pour masquer le menu */
/*clip-path:polygon(0 0,100% 0,100% 0,0 0);*
}
/*pour affiché la barre entre menu et le logos
.header.Menu a{
    display:block;
    text-align:center;
    margin:2rem;
}
     */
#contenu {
    background-color: ghostwhite;
}

#footer {
    background-color: darkgray;
    color: black;
    clear: both;
    align-items : center;
}


table{
   
  
   
}

.titre {
    text-align: center;
}

.selectionne {
    color: red;
}
nav ul {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 80px;
}

    nav ul li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

        nav ul li a {
            color: #333;
        }

.search-bar input[type="text"] {
    align-content : center;
    padding: 10px;
    width: 500px;
}

.search-bar button {
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#colonne {
    float: left;
    border: 1px;
    background-color: ghostwhite;
   border-color : coral;
}


div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
   
}

div.scroll-container img {
    padding: 10px;
    resize : both;
    height : 50%;
    width : auto;
}

/* Centered text */
.menu{
    display: flex;
    justify-content: space-between;
    color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

