* {
    box-sizing: border-box;
    margin: 2px;
}

body,
html {
    margin: 1px;
    padding: 5px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}


#entete, #menu, #contenu, #footer {
    padding: 1px 0;
    font-family: 'Roboto', sans-serif;
}

#entete {
    background: ghostwhite;
}


#main {
    margin: auto;
    flex: auto;
}

#contenu {
    
    background-color: ghostwhite;
}

#footer {
    border-top: 1px solid #D0D1D2;
    background-color: ghostwhite;
    color: black;
    position: relative;
    margin-top: inherit;
    flex-shrink : 0;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}


.titre {
    text-align: center;
}

.footerUl {
    list-style-type: none;
}
nav ul {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 80px;
}

    nav ul li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

        nav ul li a {
            color: #333;
        }

.search-bar input[type="text"] {
    align-content : center;
    padding: 10px;
    width: 500px;
}

.search-bar button {
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


div.scroll-container {
    background-color: ghostwhite;
    color : ghostwhite;
    overflow: auto;
    white-space: nowrap;
    padding: 100px;
}

    div.scroll-container img {
        padding: 5px;
        resize: both;
        height: 50%;
        width: auto;
    }

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}



/*=============================Places===============================*/
.places-text {
    text-align: center;
    margin-bottom: 50px;
}

    .places-text small {
        font-family: 'Roboto', sans-serif;
        color: #ffc342;
        font-size: 15px;
        font-weight: bolder;
    }

    .places-text h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
        color: #191d34;
        letter-spacing: 1px;
    }

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    height: auto;
}

    .card img {
        max-width: 100%;
        height: 300px;
        border-radius: 8px;
        cursor: pointer;
    }

.cards .text {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
}

.cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #fde02f;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards .services {
    flex: 3;
    font-weight: bold;
}

.cards .time {
    flex: 1;
}

.cards .location {
    flex: 2;
}

.cards .cost {
    color: #4cafad;
    font-size: 20px;
}
/*------------Zoom in Photos--------------*/
.zoom-img {
    float: left;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

    .zoom-img .img-card {
        position: absolute;
        overflow: hidden;
    }

.img-card img {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
}

.card:hover .zoom-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*===========================Services===========================*/
.services {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.service-item {
    flex: 1;
    padding: 50px 10px;
    border: lightcyan solid 1px;
    text-align: center;
    margin: 180px 50px;
    transition: all 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

    .service-item:hover {
        box-shadow: 3px 3px 20px lightsteelblue;
    }

    .service-item h2 {
        font-family: Barlow Condensed;
        font-size: 18px;
        width: 120px;
        color: #001f38;
        flex: 1;
    }

    .service-item img {
        width: 60px;
        height: 60px;
        flex: 1;
    }